.page_header
    padding: 6px 16px
    border-bottom: 1px solid var(--border-color)
    background: var(--base-2)
    h1
        font-size: 1.4em
        // font-weight: 500

.flex_group
    display: flex
    align-items: center
    gap: 10px

.spreadsheet
    height: 100%
    width: 100%

.custom_pagination
    display: flex
    justify-content: flex-end
    padding-top: 8px!important

// .spreadsheet_container
//     position: relative
//     width: 100%
//     height: auto
.extra_button_spreadsheet
    position: fixed
    z-index: 2
    top: .5rem
    right: 1.5rem
    display: flex
    gap: 10px
