.tip
    font-size: .85rem
    opacity: .7

.field
    .form_item
        margin-bottom: .75rem
        label
            text-transform: capitalize

.form_perusahaan
    width: clamp(300px, 100%, 500px)
