.setting
    .setting-tab
        height: calc( 100vh - var(--page-header-height) )

    .main .header
        display: flex
        justify-content: space-between

        h3
            font-size: 1.4em

    .ant-tabs-content
        padding: 10px 24px

    .setting-Perusahaan
        .form
            width: 500px

    .setting-Perusahaan .detail-perusahaan
        h2
            font-size: 2.2em
        .name-box
            display: flex
            gap: 10px
            align-items: center
        .logo
            height: 80px
            width: 80px
            object-fit: cover
            object-position: center

    .setting-petak
        height: calc( 100vh - var(--page-header-height) - 20px )
        position: relative

        .parameter-petak-spreadsheet
            height: calc( 100% - 50px )
